@charset "utf-8";

/* html5doctor css reset (http://html5doctor.com/html-5-reset-stylesheet/)
	it goes above and beyond Eric Meyer's venerable reset.css (http://meyerweb.com/eric/tools/css/reset/) */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { line-height:1; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration:line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/* app styles */
body { font-style:italic; font-family:Arial, Helvetica, sans-serif; background-color:#ffffff; color:#000000; }
header { position:fixed; top:0; left:0; z-index:5; width:100%; background:#ffffff; color:#2b3244; }
/* h1 and .back share font-size and padding */
h1 { margin:0 auto; padding:0.4em 0; width:6.5em; font-size:2em; background-repeat:no-repeat; background-position:right center; }
.back { position:fixed; top:0; left:0; z-index:9; background:#bfbfbf; color:#ffffff; padding:0.4em 0.25em 0.4em 0.1em; font-size:2em; cursor:pointer; }
.home .back { display:none; }
h1 a { display:block; width:100%; }
a { color:inherit; text-decoration:none; }
abbr[title], dfn[title] { border:none; cursor:pointer; }
h2 { font-size:1.25em; font-weight:normal; color:#e5a015; }
dl,
ul { list-style:none; }
dt,
li,
.home #featuredseriestitle { margin-top:1em; }
video { width:100%; height:100%; }
small { font-size:1em; color:#bfbfbf; }
.box { padding:1em; text-align:center; background-color:rgba(0, 54, 93, 0.9); color:#ffffff; }
.box a { display:block; width:100%; padding:1em 0; }
.box #nextinternetbroadcast a { padding:0; }
.link { margin:1em 0; width:-webkit-calc(100% - 4px); width:calc(100% - 4px); background:#0066c3; border:2px solid #3394ed; }
.link.disabled { background:#323232; color:#bfbfbf; border:2px solid #595959;}
.subheading { color:#3394ed; }
.qualification { color:#3394ed; }
#nextinternetbroadcast { padding:1em 0; }
#nextinternetbroadcast span:after { font-size:0.65em; color:#676767; }
#nextinternetbroadcast .days:after { content:" days "; }
#nextinternetbroadcast .hours:after { content:" hrs "; }
#nextinternetbroadcast .minutes:after { content:" mins "; }
#nextinternetbroadcast .seconds:after { content:" secs"; }
#sermons dt { display:none; }
.lightbox { position:fixed; top:3em; right:0; bottom:0; left:0; z-index:4; padding:5em 1em 1em 1em; white-space:normal; background:rgba(0, 0, 0, 0.9); color:#ffffff; text-align:center; }
.lightbox .close { display:block; position:absolute; top:2em; right:2em; z-index:9; padding:0 0.35em 0.15em 0.35em; font-size:1em; color:#ffffff; font-style:normal; font-weight:normal; border:1px solid #ffffff; border-radius:1em; }
.lightboxcontent.servicetimes p { padding:1em; padding-right:0; padding-left:0; border-top:1px solid #909090; }
.lightboxcontent.servicetimes dt { display:none; }
.lightboxcontent.servicetimes dd { margin-bottom:1em; }
.pointlessdivforbackgroundimage { position:fixed; top:0; right:0; bottom:0; left:0; z-index:-1; background-repeat:no-repeat; background-attachment:fixed; }

@media screen and (orientation:portrait) {
.boxeswrapper { margin-top:5em; }
.pointlessdivforbackgroundimage { background-position:right 3em; }
}
@media screen and (orientation:landscape) {
body { white-space:nowrap; display:table; border-spacing:1em 0.5em; background:transparent; }
.boxeswrapper { position:absolute; bottom:0; left:0; }
.box { display:table-cell; vertical-align:top; }
.featuredserieswrapper { position:relative; }
.featuredseries .featuredseriestitlewrapper { position:absolute; top:-3em; left:0; height:1em; width:100%; padding:0.5em 0 1em 0; }
.featuredseries .featuredseriestitlewrapper #featuredseriestitle { position:relative; }
.featuredseries .featuredseriestitlewrapper #featuredseriestitle h2 { position:fixed; width:100%; text-align:center; }
.pointlessdivforbackgroundimage { background-position:left 3em; }
}
@media screen and (max-width:640px) and (orientation:portrait) {
h1 { background-image:url(images/Logo-Flc-Transparent-64x45.png); }
.box { margin:0 7em 1em 0.25em; }
.lightboxcontent.servicetimes .timezone { display:block; font-size:0.85em; }
.lightboxcontent.servicetimes .timezone:before { content:"("; }
.lightboxcontent.servicetimes .timezone:after { content:")"; }
.pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-320x568.jpg); }
.featuredseries .pointlessdivforbackgroundimage { background-image:url(http://www.flcbranson.org/liveapp/featuredseries-320x568.jpg); }
}
@media screen and (max-height:640px) and (orientation:landscape) {
/* h1 and .back share font-size and padding */
h1 { font-size:1.75em; background-image:url(images/Logo-Flc-Transparent-57x40.png); }
.back { font-size:1.75em; }
.home .boxeswrapper { margin-left:6em; }
.box a,
#nextinternetbroadcast { padding:0.5em 0; }
.lightbox { padding-top:1.4em; }
.lightbox .close { top:0.5em; right:0.5em; }
.pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-568x320.jpg); }
.featuredseries .pointlessdivforbackgroundimage { background-image:url(http://www.flcbranson.org/liveapp/featuredseries-568x320.jpg); }
}
@media screen and (min-width:641px) {
body { font-size:1.5em; }
h1 { background-image:url(images/Logo-Flc-Transparent-100x71.png); }
}
@media screen and (min-width:641px) and (orientation:portrait) {
.box { margin:0 9em 2em 1em; }	
.pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-768x1024.jpg); }
.featuredseries .pointlessdivforbackgroundimage { background-image:url(http://www.flcbranson.org/liveapp/featuredseries-768x1024.jpg); }
}
@media screen and (min-height:641px) and (orientation:landscape) {
.pointlessdivforbackgroundimage { background-image:url(images/flcs-bromoorestagefrontmm13-1024x768.jpg); }
.featuredseries .pointlessdivforbackgroundimage { background-image:url(http://www.flcbranson.org/liveapp/featuredseries-1024x768.jpg); }
}