@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:200,500);

/* 
=============DESIGN STYLES===================
*/

body {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* we have things extended past the edges and don't want to be able to scroll horizontally */
	overflow-x:hidden;
}

/* specify foreground colors when specifying background colors */

body:not(.home) {
	padding-top:5em;
	padding-right:6%;
	padding-bottom:1em;
	padding-left:6%;
	background-color:#f3f3f3;
	background-image:url(images/papertexture-500x500.png);
	background-size:250px 250px;
	color:#000000;
	line-height:1.5;
}

body:not(.home) #siteheader {
	display:none;
}

#navigation {
	display:none;
}

.heading.site, .heading.page {
	font-family:'Raleway', sans-serif;
	font-size:2em;
	font-weight:200;
	text-transform:uppercase
}

.heading.page {
	position:fixed;
	top:0;
	right:-1em;
	left:-1em;
	height:2em;
	line-height:2em;
	text-align:center;
	background-color:#1a3749;
	background-image:linear-gradient(to right, #1a3749 0%, #3d6170 100%);
	color:#ffffff;
	box-shadow:0 0.1em 0.125em rgba(0, 0, 0, 0.4);
}

.heading.page:before {
	content:"//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////";
	position:absolute;
	top:1.95rem;
	left:0;
	width:100%;
	height:4px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:4px;
	color:#000000;
}

/* keep this font size relative to the parent's font size (don't use rem here) */

.heading.page .stylehook {
	margin-left:-0.5em;
	font-size:0.5em;
	font-style:italic;
	font-weight:500;
}

/* overrides setting from core.css */

.events #content .heading.page {
	font-style:normal;
}

/* font-size and height should match .heading.page */

.back {
	position:fixed;
	top:0;
	left:0;
	width:2em;
	height:2em;
	font-size:2em;
	background-image:url(images/arrow-circle-green-left.png);
	background-repeat:no-repeat;
	background-size:50%;
	background-position:center center;
	text-indent:-9999px;
}

/* page specific */

.home {
	background-color:#1d384d;
	background-image:none;
	color:#ffffff;
}

.home a, .home .link {
	color:inherit;
}

.home .heading.section {
	font-weight:normal;
	font-style:italic;
}

/* border-spacing includes left of the first cell and right of the last cell
	negative margin the left/right and add those negative margins to the width with calc()
	ios6 requires -webkit-calc()
	android browser doesn't support calc() */

.home .blocks {
	display:table;
	table-layout:fixed;
	border-collapse:separate;
	border-spacing:0.5em 0;
	margin-left:-0.5em;
	width:105%;
	width:-webkit-calc(100% + 1em);
	width:calc(100% + 1em);
	text-transform:uppercase;
}

.home .blocks .block {
	display:table-cell;
	width:50%;
	vertical-align:middle;
}

/* specify a solid color for browsers that don't support rgba */

.home .block {
	display:block;
	padding-top:0.5em;
	padding-right:0;
	padding-bottom:0.5em;
	padding-left:0;
	border-radius:0.375em;
	background-color:#ffffff;
	background-color:rgba(255, 255, 255, 0.25);
	text-align:center;
}

.home .wrapper.first {
	box-sizing:border-box;
	padding-bottom:0.5em;
	background-color:#1a3749;
	background-image:linear-gradient(to right, #1a3749 0%, #3d6170 100%);
	box-shadow:inset 0 -0.25em 0.5em -0.25em #000000;
	text-transform:uppercase;
}

.home #siteheader {
	display:table;
	margin-right:auto;
	margin-bottom:0.5em;
	margin-left:auto;
}

/* the top/bottom padding is so the logo can be taller than the text
	the right padding to give room for the logo */

.home .heading.site {
	padding-top:0.16666666666em;
	padding-right:2.5em;
	padding-bottom:0.16666666666em;
	background-image:url(images/flc_logo_one_color_nbg-927x672.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:right center;
}

/* keep this font size relative to the parent's font size (don't use rem here) */

.home .heading.site .stylehook {
	margin-left:-0.5em;
	font-size:0.5em;
	font-style:italic;
	font-weight:500;
}

.home .wrapper.first .heading.section {
	display:none;
}

.home #livebroadcast, .home #rebroadcasts {
	width:75%;
	margin-right:auto;
	margin-left:auto;
}

.home #livebroadcast .stylehook, .home #rebroadcasts .stylehook {
	font-size:0.65em;
	font-style:italic;
	font-weight:lighter;
}

.home #livebroadcast {
	margin-bottom:0.5em;
	font-style:italic;
	text-align:center;
}

.home #livebroadcast .block {
	margin-top:0.5em;
}

.home #livebroadcast .countdown {
	display:table;
	width:100%;
	margin-right:auto;
	margin-left:auto;
	font-style:normal;
}

/* space the parts equally */

.home #livebroadcast .countdown .days, .home #livebroadcast .countdown .hours, .home #livebroadcast .countdown .minutes, .home #livebroadcast .countdown .seconds {
	display:table-cell;
}

.home #rebroadcasts .block .stylehook {
	display:block;
}

/* position:relative for the //////////// */

.home .wrapper.second {
	position:relative;
	box-shadow:inset 0 0.25em 0.5em -0.25em #000000;
	box-sizing:border-box;
	padding-top:0.5em;
	padding-right:1em;
	padding-bottom:0.5em;
	padding-left:1em;
	background-color:#92cfd4;
}

.home .wrapper.second:before {
	content:"//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:4px;
	overflow:hidden;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:4px;
	color:#1a3749;
}

/* position:relative so headers can be position:absolute within them */

.home #featuredmessages, .home #dailybiblereading, .home #events {
	position:relative;
	height:5em;
	background-repeat:no-repeat;
	background-size:cover;
	box-shadow:inset 0 0 1em -0.5em #16303d;
}

.home #featuredmessages {
	margin-bottom:0.5em;
	background-image:url(images/flcs_bromooreinfrontofstagemm13-1440x360.jpg);
	background-position:center top;
}

.home #dailybiblereading {
	margin-bottom:0.5em;
	background-image:url(images/openbible-1440x360.jpg);
	background-position:center center;
}

.home #events {
	background-image:url(images/palmtrees-1440x360.jpg);
	background-position:center bottom;
}

.home .wrapper.second .heading.section {
	position:absolute;
	bottom:0.5em;
	left:-0.5em;
	padding-top:0.25em;
	padding-right:1em;
	padding-bottom:0.4em;
	padding-left:1em;
	background-color:#16303d;
}

/* top-left ribbon flip (http://www.css3d.net/ribbon-generator/) */

/* keep this font size relative to the parent's font size (don't use rem here) */

.home .wrapper.second .heading.section:before {
	content:"";
	position:absolute;
	top:-0.5em;
	left:0;
	display:block;
	border-style:solid;
	border-color:transparent #303030 transparent transparent;
	border-width:0.5em 0.5em 0 0;
}

/* bottom-left ribbon flip (for posterity)

.home .wrapper.second .heading.section:before {
	border-color:#303030 transparent transparent transparent;
	border-width:1em 0 0 1em;
}

*/

.home .wrapper.second .block {
	display:none;
}

.home .wrapper.third {
	box-sizing:border-box;
	padding-top:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;
	padding-left:0.5em;
	background-color:#07423c;
	background-image:linear-gradient(to right, #07423c 0%, #2a6f67 100%);
}

.home .wrapper.third .block {
	padding-top:1em;
	padding-bottom:1em;
}

.home .wrapper.third .heading.section {
	display:none;
}

.home .wrapper.testing {
	padding:1em;
	text-align:center;
	color:#f8f8f8;
}

.home .wrapper.testing .heading.section {
	margin-bottom:1em;
}

.featuredmessages .message {
	margin:1em;
	padding-top:1em;
	padding-right:2em;
	padding-bottom:2em;
	padding-left:2em;
	background-color:#cfe3e2;
	border-radius:0.5em;
	text-align:center;
}

.featuredmessages dt {
	display:none;
}

.featuredmessages .date, .featuredmessages .title {
	margin-bottom:1em;
}

.featuredmessages .title {
	font-weight:bold;
}

.featuredmessages .title.sermon {
	display:block;
}

.featuredmessages .title.sermon:before {
	content:"(";
}

.featuredmessages .title.sermon:after {
	content:")";
}

.featuredmessages .date, .featuredmessages .speaker {
	font-size:0.85em;
	font-style:italic;
	font-weight:lighter;
}

.featuredmessages .speaker {
	margin-bottom:3em;
}

.featuredmessages .message .link {
	margin-top:2em;
	padding-top:1em;
	padding-bottom:1em;
	border-radius:0.5em;
	color:#ffffff;
	text-transform:uppercase;
}

.featuredmessages .message .link.audio {
	background-color:#4cda64;
}

.featuredmessages .message .link.video {
	background-color:#4e5766;
}

@media screen and (max-width:479px) {
	body:not(.home) {
		padding-top:4.5em;
	}

	.heading.page {
		font-size:1.75em;
	}

	.heading.page:before {
		top:1.7rem;
	}

	/* font-size and height should match .heading.page */
	
	.back {
		font-size:1.75em;
	}

	/* margin-top will show a bit without the background */

	.home #siteheader {
		padding-top:0.25rem;
	}

	/* .wrapper.third goes to the top-right so it doesn't get the shadow anymore */

	.home .wrapper.third {
		padding-top:1em;
		padding-bottom:1em;
		box-shadow:inset 0 0.25em 0.5em -0.25em #000000;
	}
}

@media screen and (min-width:320px) and (max-width:479px) {
	.home #livebroadcast .countdown {
		width:88%;
	}
}

/* #siteheader and .wrapper.third share the top of the screen (they should have opposite but equal position settings) */

@media screen and (min-width:480px) {
	.home #siteheader {
		position:absolute;
		top:0;
		right:52%;
		right:-webkit-calc(50% + 0.5rem);
		right:calc(50% + 0.5rem);
		padding-top:0.25em;
		padding-bottom:0.25em;
		font-size:0.95em;
	}

	/* leave room for #siteheader and .wrapper.third
		don't use margin or the background won't go to the top */
	
	.home .wrapper.first {
		padding-top:3.5em;
	}

	/* padding of 0 keeps the edges of the table at the parent's edges */

	.home .wrapper.third {
		position:absolute;
		top:0;
		left:52%;
		left:-webkit-calc(50% + 0.5rem);
		left:calc(50% + 0.5rem);
		width:10.25em;
		padding-top:0.375em;
		padding-right:0;
		padding-bottom:0.375em;
		padding-left:0;
		background:transparent;
	}

	.home .wrapper.third .block {
		font-size:0.75em;
	}
}

@media screen and (min-width:480px) and (max-width:567px) {
	.home #livebroadcast .countdown {
		width:80%;
	}
}

@media screen and (min-width:480px) and (max-width:719px) {
	/* push the //// up just a bit at these widths */

	.home .wrapper.second:before {
		top:-1px;
	}
}

@media screen and (min-width:568px) and (max-width:719px) {
	.home #livebroadcast .countdown {
		width:78%;
	}
}

@media screen and (min-width:720px) and (max-width:768px) {
	.home #livebroadcast .countdown {
		width:85%;
	}
}

@media screen and (min-width:769px) and (max-width:1024px) {
	.home #livebroadcast .countdown {
		width:79%;
	}
}

@media screen and (max-height:480px) {
	.home .wrapper.second:before {
		font-size:0.175rem;
	}
}

/* ios status bar is 20px tall */

@media screen and (orientation:portrait) and (max-height:460px) {
	.home .wrapper.third {
		padding-top:0.5em;
		padding-bottom:0.5em;
	}

	.home .wrapper.third .block {
		padding-top:0.5em;
		padding-bottom:0.5em;
	}

	.home #featuredmessages, .home #dailybiblereading, .home #events {
		height:4.5em;
	}
}

/* ios status bar is 20px tall */

@media screen and (orientation:portrait) and (min-height:461px) {
	.home .wrapper.first {
		padding-bottom:1em;
	}

	.home .wrapper.second {
		padding-top:1em;
		padding-bottom:1em;
	}

	.home #featuredmessages, .home #dailybiblereading {
		margin-bottom:0.75em;
	}
}

@media screen and (orientation:portrait) and (min-width:720px) {
	.home .wrapper.first {
		padding-bottom:1.5em;
	}

	.home .wrapper.second {
		padding-top:1.5em;
		padding-right:2em;
		padding-bottom:1.5em;
		padding-left:2em;
	}

	.home #featuredmessages, .home #dailybiblereading {
		margin-bottom:1em;
	}
}

/* make everything bigger for tablets */

@media screen and (min-width:720px) and (min-height:480px) {
	.home {
		font-size:2em;
	}
}

@media screen and (orientation:landscape) {
	.home .wrapper.second {
		display:table;
		table-layout:fixed;
		border-collapse:separate;
		border-spacing:1em 0;
		margin-left:-1.5em;
		width:105%;
		width:-webkit-calc(100% + 2em);
		width:calc(100% + 2em);
	}

	.home #featuredmessages, .home #dailybiblereading, .home #events {
		display:table-cell;
		width:33%;
		height:7.25em;
	}

	.home #dailybiblereading {
		width:34%;
	}

	.home .wrapper.second .heading.section {
		font-size:0.8em;
	}
}

@media screen and (orientation:landscape) and (min-height:720px) {
	.home #siteheader, .home .wrapper.third {
		font-size:1.25em;
	}

	/* leave room for #siteheader and .wrapper.third
		don't use margin or the background won't go to the top */
	
	.home .wrapper.first {
		padding-top:5em;
		padding-bottom:1.5em;
	}

	.home #siteheader {
		right:55%;
		right:-webkit-calc(50% + 1.5rem);
		right:calc(50% + 1.5rem);
	}

	.home .wrapper.second {
		padding-top:1.5em;
		padding-bottom:1.5em;
	}

	.home #featuredmessages, .home #dailybiblereading, .home #events {
		height:8em;
	}

	.home .wrapper.third {
		padding-top:0.82em;
		padding-bottom:0.82em;
		left:55%;
		left:-webkit-calc(50% + 1.5rem);
		left:calc(50% + 1.5rem);
	}

	.home .wrapper.third .block {
		padding-top:0.5em;
		padding-bottom:0.5em;
	}
}

/*
@media screen and (orientation:portrait) and (max-width:320px) and (max-height:460px) {
	body {
		color:red !important;
	}
}
@media screen and (orientation:portrait) and (max-width:320px) and (min-height:461px) and (max-height:548px) {
	body {
		color:orange !important;
	}
}
@media screen and (orientation:portrait) and (min-width:768px) {
	body {
		color:yellow !important;
	}
}
@media screen and (orientation:landscape) and (max-height:300px) and (max-width:480px) {
	body {
		color:red !important;
	}
}
@media screen and (orientation:landscape) and (max-height:300px) and (min-width:481px) and (max-width:568px) {
	body {
		color:orange !important;
	}
}
@media screen and (orientation:landscape) and (min-height:748px) and (min-width:1024px) {
	body {
		color:yellow !important;
	}
}
*/