@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:200,500);

/* specify foreground colors when specifying background colors */

body {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#1d384d;
	color:#ffffff;
}

.home a, .home .link {
	color:inherit;
}

/* specify a solid color for browsers that don't support rgba */

.home .block {
	display:block;
	border-radius:0.375em;
	background-color:#ffffff;
	background-color:rgba(255, 255, 255, 0.25);
	text-align:center;
}

/* border-spacing includes left of the first cell and right of the last cell
	negative margin the left/right and add those negative margins to the width with calc()
	ios6 requires -webkit-calc()
	android browser doesn't support calc() */

.home .blocks {
	display:table;
	border-collapse:separate;
	width:100%;
	text-transform:uppercase;
}

.home .blocks .first, .home .blocks .second {
	display:table-cell;
	width:50%;
	vertical-align:middle;
}

.home #siteheader {
	display:table;
}

.home .heading.site {
	padding-top:0.16666666666em;
	padding-right:2.5em;
	padding-bottom:0.16666666666em;
	padding-left:0;
	font-family:'Raleway', sans-serif;
	font-weight:200;
	text-transform:uppercase;
	background-image:url(images/flc_logo_one_color_nbg-215x153.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:right center;
}

/* keep this font size relative to the parent's font size (don't use rem here) */

.home .heading.site .stylehook {
	margin-left:-0.5em;
	font-size:0.5em;
	font-style:italic;
	font-weight:500;
}

.home #navigation {
	display:none;
}

.home .wrapper.first .heading.section {
	display:none;
}

.home #livebroadcast {
	font-style:italic;
	text-align:center;
}

.home #livebroadcast .countdown {
	font-style:normal;
}

/* keep this font size relative to the parent's font size (don't use rem here) */

.home #livebroadcast .countdown_wording {
	font-size:0.75em;
}

/* keep this font size relative to the parent's font size (don't use rem here) */

.home #rebroadcasts .block .stylehook {
	display:block;
	font-size:0.75em;
	font-style:italic;
}

.home .wrapper.second {
	background-color:#92cfd4;
}

.home .wrapper.second .block {
	display:none;
}

/* position:relative so headers can be position:absolute within them */

.home #featuredmessage, .home #dailybiblereading, .home #events {
	position:relative;
	height:4.375em;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center top;
}

.home #featuredmessage {
	background-image:url(images/flcs-bromoorestagefrontmm13-546x140.jpg);
}

.home #dailybiblereading {
	background-image:url(images/openbible-546x140.jpg);
}

.home #events {
	background-image:url(images/palmtrees-546x140.jpg);
}

/* keep this font size relative to the parent's font size (don't use rem here) */

.home .wrapper.second .heading.section {
	position:absolute;
	bottom:0.5em;
	left:-0.5em;
	padding-top:0.5em;
	padding-right:0.5em;
	padding-bottom:0.5em;
	padding-left:1em;
	background-color:#16303d;
}

/* top-left ribbon flip (http://www.css3d.net/ribbon-generator/) */

/* keep this font size relative to the parent's font size (don't use rem here) */

.home .wrapper.second .heading.section:before {
	content:"";
	position:absolute;
	top:-0.5em;
	left:0;
	display:block;
	border-style:solid;
	border-color:transparent #303030 transparent transparent;
	border-width:0.5em 0.5em 0 0;
}

/* bottom-left ribbon flip (for posterity)

.home .wrapper.second .heading.section:before {
	border-color:#303030 transparent transparent transparent;
	border-width:1em 0 0 1em;
}

*/

.home .wrapper.third .heading.section {
	display:none;
}

.home .wrapper.testing {
	padding:1em;
	background-color:#080808;
	color:#f8f8f8;
}

@media screen and (orientation:portrait) {
	.home .blocks {
		border-spacing:0.5em;
	}

	.home .block {
		padding-top:0.5em;
		padding-right:0;
		padding-bottom:0.5em;
		padding-left:0;
	}

	/* more horizontal padding */

	.home .wrapper.first {
		padding-top:0.5em;
		padding-right:1.5em;
		padding-bottom:0.5em;
		padding-left:1.5em;
		background-color:#1a3749;
		background-image:linear-gradient(to right, #1a3749 0%, #3d6170 100%);
		box-shadow:inset 0 -0.25em 0.5em -0.25em #000000;
	}

	.home .heading.site {
		margin-bottom:0.16666666666em;
		font-size:3em;
	}

	/* border-spacing includes left of the first cell and right of the last cell
		negative margin the left/right and add those negative margins to the width with calc()
		ios6 requires -webkit-calc()
		android browser doesn't support calc() */

	/* to match the double-blocks */

	.home #livebroadcast .countdown {
		margin-top:0.5em;
		margin-right:0.5em;
		margin-bottom:0;
		margin-left:0.5em;
	}

	/* normal horizontal padding */

	/* position:relative for the //////////// */

	.home .wrapper.second {
		position:relative;
		padding-top:1em;
		padding-right:1.5em;
		padding-bottom:1em;
		padding-left:1.5em;
		box-shadow:inset 0 0.25em 0.5em -0.25em #000000;
	}

	.home #featuredmessage, .home #dailybiblereading {
		margin-bottom:1em;
	}

	.home .wrapper.testing .heading.section {
		margin-bottom:0.5em;
	}
}

@media screen and (orientation:portrait) and (max-width:767px) {
	.home #siteheader {
		margin:auto;
	}

	/* less horizontal padding */

	.home .wrapper.third {
		padding-top:0.5em;
		padding-right:0.5em;
		padding-bottom:0.5em;
		padding-left:0.5em;
		background-color:#07423c;
		background-image:linear-gradient(to right, #07423c 0%, #2a6f67 100%);
		box-shadow:inset 0 0.25em 0.5em -0.25em #000000;
	}

	.home .wrapper.third .block {
		padding-top:1em;
		padding-bottom:1em;
	}
}

/* scrunch it down just a bit for iPhone 4 */

@media screen and (orientation:portrait) and (max-height:480px) {
	.home .wrapper.first {
		padding-top:0.25em;
		padding-bottom:0;
	}

	.home .heading.site {
		margin-bottom:0;
		font-size:2em;
	}

	.home #livebroadcast .countdown {
		margin-top:0.125em;
	}

	.home .wrapper.second {
		padding-top:0.5em;
		padding-bottom:0.5em;
	}

	.home #featuredmessage, .home #dailybiblereading {
		margin-bottom:0.5em;
	}

	.home .wrapper.third {
		padding-top:0;
		padding-bottom:0;
	}

	.home .wrapper.third .block {
		padding-top:0.75em;
		padding-bottom:0.75em;
	}
}

/* make things bigger for tablets */

@media screen and (orientation:portrait) and (min-height:768px) and (min-width:768px) {
	body {
		font-size:1.5em;
	}

	.home .block {
		padding-top:1em;
		padding-bottom:1em;
	}

	.home .heading.site {
		margin-bottom:0.5em;
		font-size:2.25em;
	}

	.home .wrapper.third {
		position:absolute;
		top:0.8em;
		right:0.5em;
		font-size:0.85em;
	}

	.home .wrapper.third .block {
		padding:0.5em;
	}
}

@media screen and (orientation:portrait) and (min-height:481px) {
	.home .wrapper.second:before {
		content:"//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////";
		position:absolute;
		top:0;
		left:0;
		width:100%;
		overflow:hidden;
		font-size:0.25em;
		color:#1a3749;
	}
}

